In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
singlenames_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Total number of players is the lenght of the unique values for 'SN'.
# total players is the lenght and it is converted to a DataFrame using pd.DataFrame
totalplayers = len(purchase_data["SN"].unique())
totalplayers_df = pd.DataFrame({"Total Players":[totalplayers]})

totalplayers_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#First I got a series of the values (Unique Items, Average Price, 
#Number of Purchases, Total Revenue) that I needed to present in the dataframe

uniqueitems = len(purchase_data["Item ID"].unique())
meanprice = purchase_data["Price"].mean()
countpurchase = purchase_data["Purchase ID"].count()
sumrevenue =  purchase_data["Price"].sum()

#Second, I converted all the Values in a DataFrame
panalysis_df = pd.DataFrame({"Number of Unique Items":[uniqueitems],
                 "Average Price":[meanprice],
                  "Number of Purchases":[countpurchase],
                  "Total Revenue":[sumrevenue],
                })

#Third, I formated the data for a better visualization on the table
panalysis_df["Average Price"] = panalysis_df["Average Price"].map("${:.2f}".format)
panalysis_df["Total Revenue"] = panalysis_df["Total Revenue"].map("${:.2f}".format)

panalysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#For this step, I created a second DataFrame without duplicates on the 'SN' field
pd.DataFrame(singlenames_data.drop_duplicates(subset = "SN", keep = "first", inplace = True ))

Empty DataFrame
Columns: []
Index: []

In [5]:
# And I grouped by gender and item ID
gender_group = singlenames_data[["Gender","Item ID"]]
gender_group = gender_group.rename(columns = {"Item ID":"Total Count"})

# Grouped again the gender to have the unique gender values
gender_group = gender_group.groupby(["Gender"]).count()

# Calculated the % of players and formated the data properly
gender_group ["Percentage of Players"] =  (gender_group["Total Count"]/gender_group["Total Count"].sum())*100                                       
gender_group ["Percentage of Players"] = gender_group ["Percentage of Players"].map("{:.2f}%".format)

# Sorted the values by the highest % 
gender_group  = gender_group.sort_values(["Percentage of Players"],ascending = False)

# Finnaly I have the summary table
gender_group

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# First I created a series of unique gender values, this will be my index.
grouped_gender= purchase_data.groupby("Gender")
grouped_gender

In [7]:
# Started creating DataFrames for the values that needs to be displayed 
#this one will give Purchase Count, and the column will be renamed.
gender_pID_df = grouped_gender[["Purchase ID"]].count()

In [8]:
#this one will give Total Purchase Value, and the column will be renamed.
gender_average_df = grouped_gender[["Price"]].mean()
gender_average_df = gender_average_df["Price"].map("${:.2f}".format)
gender_total_df = grouped_gender[["Price"]].sum()

In [9]:
#Now I am creating a dataframe that will give me the count of unique users in "Total Count",
#because some of the columns will need this variable for calculation. 
# In this case I merged the total foreach gender with the cont of gender without duplicates on user 'SN'
merged_gender_df = pd.merge(gender_total_df, gender_group, on="Gender")

In [10]:
#Now I am creating another column for "Avg Total Purchase Per Person" and formatting it properly.
merged_gender_df["Avg Total Purchase Per Person"] = merged_gender_df["Price"]/merged_gender_df["Total Count"]
merged_gender_df["Avg Total Purchase Per Person"] = merged_gender_df["Avg Total Purchase Per Person"].map("${:,.2f}".format)

In [11]:
#And finally I am merging all the data I have by gender
avperson_df = merged_gender_df["Avg Total Purchase Per Person"]
merged_all1_df = pd.merge(avperson_df,merged_gender_df, on = "Gender")
merged_all2_df =  pd.merge(merged_all1_df,gender_pID_df, on = "Gender")
merged_all2_df = pd.merge(merged_all2_df,gender_average_df, on = "Gender")

In [12]:
#Now I am just picking the columns that I need for the summary of Purchasing Analysis

p_analysis_df = merged_all2_df[["Purchase ID","Price_y","Price_x","Avg Total Purchase Per Person_x"]]

p_analysis_df  = p_analysis_df .rename(columns = {"Purchase ID":"Purchase Count",
                                             "Price_y":"Average Purchase Price",
                                             "Price_x":"Total Purchase Value",
                                             "Avg Total Purchase Per Person_x":"Avg Total Purchase Per Person"})

In [13]:
#formating the "Total Purchase Value" to present it properly and 
#finnaly having the summary that was requested
p_analysis_df["Total Purchase Value"] = p_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
p_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
# First I am creating the bins and labels
bins=[0,9,14,19,24,29,34,39,100]
age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
#converted the data to numeric
singlenames_data['Age'] = pd.to_numeric(singlenames_data['Age'])

#and adding a column for "Age Ranges" in my DataFrame 
singlenames_data["Age Ranges"] = pd.cut(singlenames_data["Age"], bins, labels=age_labels)

In [15]:
# Now I am getting the "Age Ranges" to create my index
grouped_age = singlenames_data.groupby(["Age Ranges"])

In [16]:
# And Creating a dataframe counting the Item ID, that will give me the "Total Count" value.
newgrouped_age_df = grouped_age[["Item ID"]].count()
newgrouped_age_df = newgrouped_age_df.rename(columns = {"Item ID":"Total Count"})

In [17]:
# Now I am calculating and formating the % of Players
newgrouped_age_df["Percentage of Players"] = (newgrouped_age_df["Total Count"]/newgrouped_age_df["Total Count"].sum())*100
newgrouped_age_df ["Percentage of Players"] = newgrouped_age_df ["Percentage of Players"].map("{:.2f}%".format)
newgrouped_age_df

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
#first I am converting the data to numeric, notice that in this case I needed the data with all purchasing, 
#including the ones that came from the same user.
purchase_data['Age'] = pd.to_numeric(purchase_data['Age'])
# The bins and labels are the same already defined, and I am addding the Age Ranges to my dataframe
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=age_labels)

In [19]:
#Now I am getting my index
grouped_age2_df = purchase_data.groupby(["Age Ranges"])
# And creating a DataFrame counting the Item ID that will represent the Purchase Count
newgrouped_age2_df = grouped_age2_df[["Item ID"]].count()
newgrouped_age2_df = newgrouped_age2_df.rename(columns = {"Item ID":"Purchase Count"})

# Now I have a dataframe for "Average Purchase Price"
avpprice_df = grouped_age2_df[["Price"]].mean()
# Now I have a dataframe for "Total Purchase Value"
tpprice_df = grouped_age2_df[["Price"]].sum()

# Now I am merging all that that I have
merged_pa_df = pd.merge(newgrouped_age2_df ,newgrouped_age_df, on = "Age Ranges")
merged_pa2_df = pd.merge(merged_pa_df ,avpprice_df, on = "Age Ranges")
merged_pa3_df = pd.merge(merged_pa2_df ,tpprice_df, on = "Age Ranges")
merged_pa3_df["Avg Total Purchase per Person"] = (merged_pa3_df["Price_y"]/merged_pa3_df["Total Count"])

In [20]:
# Now I am renaming the columns properly
pa_final_df = merged_pa3_df[["Purchase Count","Price_x","Price_y","Avg Total Purchase per Person"]]
pa_final_df  = pa_final_df .rename(columns = {"Price_x":"Average Purchase Price",
                                             "Price_y":"Total Purchase Value"})

# Now I am formating the values properly
pa_final_df["Average Purchase Price"] = pa_final_df["Average Purchase Price"].map("${:,.2f}".format)
pa_final_df["Total Purchase Value"] = pa_final_df["Total Purchase Value"].map("${:,.2f}".format)
pa_final_df["Avg Total Purchase per Person"] = pa_final_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

# And finally I have the summary requested
pa_final_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
#Now I am getting my index
spenders = purchase_data.groupby(["SN"])
# Creating a DataFrame counting the Item ID that will represent the Purchase Count
count_sp_df = spenders[["Item ID"]].count()

# Creating a DataFrame adding teh price per user that will represent the Total Purchase Value
avg_sp_df = spenders[["Price"]].sum()

#Merging the DataFrames above
tspenders_df = pd.merge(count_sp_df,avg_sp_df, on = "SN")

In [22]:
# Adding a new column for the "Average Purchase Price"
tspenders_df ["Average Purchase Price"] =  (tspenders_df["Price"]/tspenders_df["Item ID"])

# Renaming the coluns properly
tspenders_df  = tspenders_df .rename(columns = {"Item ID":"Purchase Count",
                                             "Price":"Total Purchase Value"})

In [23]:
#Reordering the columns
tspenders_f_df = tspenders_df [["Purchase Count","Average Purchase Price", "Total Purchase Value"]]

#Sorting the dataframe by "Total Purchase Value" and for 
tspenders_f_df.sort_values("Total Purchase Value", ascending=False)
sorted_spenders_df = tspenders_f_df.sort_values("Total Purchase Value", ascending=False)
sorted_spenders_df

# Now I am formating the values properly
sorted_spenders_df["Average Purchase Price"] = sorted_spenders_df["Average Purchase Price"].map("${:,.2f}".format)
sorted_spenders_df["Total Purchase Value"] = sorted_spenders_df["Total Purchase Value"].map("${:,.2f}".format)

#And finally I have the summary requested
sorted_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [24]:
# First I am getting my data in a different DataFrame
pop_df = purchase_data
# Now I have the index and the count of my data
pop_df.groupby(['Item ID','Item Name']).count()

#a dataframe counting the info that I have for Purchase Count
pop_count_df = pop_df.groupby(['Item ID','Item Name']).count()

In [25]:
#a dataframe calculating the average of the info that I have for Item Price
pop_sum_df = pop_df.groupby(['Item ID','Item Name']).mean()
#Merging the 2 dataframes together by 'Item ID','Item Name'
pop_f_df =  pd.merge(pop_count_df,pop_sum_df, on = ("Item ID", "Item Name"))

#Getting just the collumns that I need in the proper order
pop_f_df = pop_f_df [["Purchase ID_x","Price_y"]]

In [26]:
#Adding a column for "Total Purchase Value"
pop_f_df["Total Purchase Value"]=(pop_f_df ["Purchase ID_x"]*pop_f_df ["Price_y"])
#Renaming the columns

pop_f_df  = pop_f_df .rename(columns = {"Purchase ID_x":"Purchase Count",
                                             "Price_y":"Item Price"})
#Sorting the columns by the highest "Purchase Count"
sorted_pop_f_df = pop_f_df.sort_values("Purchase Count", ascending=False)

#Formating the columns

sorted_pop_f_df["Item Price"] = sorted_pop_f_df["Item Price"].map("${:,.2f}".format)
sorted_pop_f_df["Total Purchase Value"] = sorted_pop_f_df["Total Purchase Value"].map("${:,.2f}".format)

#And finally I have the requested summary
sorted_pop_f_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [27]:
#Now I am sorting by the highest "Total Purchase Value"
sorted_prof_f_df = pop_f_df.sort_values("Total Purchase Value", ascending=False)

#Formating the columns
sorted_prof_f_df["Item Price"] = sorted_prof_f_df["Item Price"].map("${:,.2f}".format)
sorted_prof_f_df["Total Purchase Value"] = sorted_prof_f_df["Total Purchase Value"].map("${:,.2f}".format)

#And finally getting the summary requested
sorted_prof_f_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80